@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/HKGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/HKGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/HKGrotesk-SemiBold.otf") format("opentype");
  font-weight: 500;
}
